.wrapper {
  max-width: 1100px !important;
  margin: 0 auto;
  padding: 0 20px;
  overflow: hidden;
}

header,
footer {
  width: 180px;
  float: left;
  padding-right: 50px;
}

section {
  margin-left: 230px;
  width: calc(100% - 230px);
  max-width: none;
  display: block;
}

.button {
    padding: 5px 10px;
    background-color: #f0f0f0;
    color: #333;
    border: 2px solid #267cb9;
    border-radius: 6px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  
  .button:hover {
    background-color: #006699;
    color: white;
  }
  